{% extends '@NewsTop/base.html.twig' %}

{% block newstop_title %}{{ event.name }}{% endblock %}



{% block newstop_body %}

    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h1>{{ event.name }}</h1>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="event__info-block event-date">
                    {% if event.createdAt is not empty %}
                        {{ event.createdAt | ru_datetime }}
                    {% else %}
                        {{ event.createdAt | ru_datetime }}
                    {% endif %}
                </div>

                {% if event.razdel is not empty %}
                    <div class="event__info-block event-place"><i class="fas fa-tags"></i> {{ event.razdel }}</div>
                {% endif %}
                {% if event.categoryId is not empty %}
                    <div class="event__info-block event-place"><i class="fas fa-list"></i> {# {{ event.categoryId }} #}
                    </div>
                    <div class="event__info-block event-place">
                        {{ select | raw }}
                    </div>
                {% endif %}
            </div>
        </div>

        <hr>
        {% if event.node is null or event.bodyValue is null %}
            <div>
                {{ event.opisanie | raw }}
            </div>
        {% endif %}
        <div>
            <div class="" style="width:70%;float:left;">
                {% if event.node is not null and event.bodyValue is not null %}
                    <div>
                        {{ event.bodyValue | raw }}
                    </div>

                {% endif %}
            </div>
            <div class="float-left" style="width:30%;float:left;">
                <span class="h5 mt-auto">{{ event.price }} &#x20bd; </span>
                {{ form_start(form, {'attr': {'class': 'mt-4 p-4 bg-light'}}) }}
                <div class="form-group">
                    {{ form_label(form.quantity) }}
                    {{ form_widget(form.quantity, {
                        'attr': {
                            'class': 'form-control ' ~ (form.quantity.vars.valid ? '' : 'is-invalid')
                        }
                    }) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.quantity) }}
                    </div>
                </div>
                <br>
                {{ form_widget(form.add, {'attr': {'class': 'btn btn-warning'}}) }}
                {{ form_end(form) }}
            </div>
        </div>
        <div style="clear:both;"></div>
        {% for image in event.images %}

            <div style="float:left;margin-right: 5px"><a href="{{ image.url }}{{ image.name }}" class="group1"><img
                            class="img-thumbnail" src="{{ asset(image.thumbnailurl) }}"/> </a></div>
        {% endfor %}
        <div class="myclr"></div>
        <br>
        {% if event.pdf is not null %}
            <h4>Файлы</h4>
            <p><i class="fas fa-file-alt"></i><a download
                                                 href="{{ vich_uploader_asset(event,'pdfFile') }}">Скачать {{ event.pdf }}</a>
            </p>
        {% endif %}
        <h4>Автор</h4>
        <p>{{ event.avtor }}</p>


        <h2>Add your own feedback</h2>
        {{ form(comment_form) }}

        {% if comments|length > 0 %}
            <div>There are {{ comments|length }} comments.</div>

            {% for comment in comments %}
                {# {% if comment.photofilename %}
                <img src="{{ asset('uploads/photos/' ~ comment.photofilename) }}" />
            {% endif %} #}

                <h4>{{ comment.author }}</h4>
                <small>
                    {{ comment.createdAt|format_datetime('medium', 'short') }}
                </small>

                <p>{{ comment.text }}</p>
            {% endfor %}

            {% if previous >= 0 %}
                <a href="{{ path('newstop.show', { slug: event.slug, offset: previous }) }}">Previous</a>
            {% endif %}
            {% if next < comments|length %}
                <a href="{{ path('newstop.show', { slug: event.slug, offset: next }) }}">Next</a>
            {% endif %}
        {% else %}
            <div>No comments have been posted yet for this conference.</div>
        {% endif %}
    </div>
{% endblock %}
